* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 10px; */

  background: linear-gradient(
    to right top,
    rgb(185, 240, 85),
    rgb(115, 241, 136)
  ) no-repeat fixed;
}

#title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  text-shadow: 0 4px 0 rgb(137, 153, 100);
}

#gameScreen {
  background: rgba(0, 0, 0, 0.2);
  margin: 30px;
  border-radius: 15px;
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.781);
}